.endocrinology {
  padding: 70px 0px 168px 0px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__description {
    max-width: 591px;
  }
  &__title {
  }
  &__information {
  }
  &__block {
  }
  &__block-title {
  }
  &__doctor-block {
  }
  &__doctor-avatar {
  }
  &__doctor-content {
  }
  &__doctor-name {
  }
  &__doctor-profession {
  }
  &__doctor-price {
  }
  &__doctor-first-time {
  }
  &__doctor-second-time {
  }
  &__btn {
  }
}

