:root {
  --primary-color: #555555;
  --secondary-color: #e53429;
  --font-medium: 500;
  --font-bold: 700;
}
html,
body {
  height: 100%;
}
body {
  font-size: 18px;
  font-family: "Muller", sans-serif;
  line-height: 1;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  max-width: 1838px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-title {
  margin-bottom: 30px;
  color: var(--primary-color);
  font-weight: var(--font-bold);
  font-size: 38px;
  line-height: 120%;
}
.section-description {
  color: var(--primary-color);
  font-size: 20px;
  line-height: 150%;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.section-subtitle {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}
.block-title {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
}
.doctor-name {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}
.doctor-block {
  border: 1px solid #e0e0e0;
}
.glide {
  overflow: hidden;
  &__track {
  }
  &__slides {
    display: flex;
  }
  &__slide-inner {
    display: flex;
    align-items: center;
  }
  &__slide {
  }
}
