.header {
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  &__inner {
  }
  &__top {
    padding: 6px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
  }
  &__bottom {
  }
  &__location {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 26px 15px 29px;
    color: var(--primary-color);
    cursor: pointer;
    &:hover {
      .header__location-list {
        visibility: visible;
        opacity: 1;
      }
      &::after {
        transform: rotate(-180deg);
      }
    }
    &::after {
      position: absolute;
      top: 34%;
      right: 0;
      width: 16px;
      height: 16px;
      background: url("../img/icons/arrow-down.svg") no-repeat;
      transition: all 0.2s ease-out;
      content: "";
    }
  }
  &__location-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 50;
    width: 170%;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 2px rgb(34 60 80 / 20%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-out;
  }
  &__location-item {
    &:hover {
      background-color: #f0f0f0;
    }
  }
  &__location-link {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 100%;
    transition: color 0.2s ease-out;
    &:hover {
      background-color: #f0f0f0;
    }
  }
  &__location-img {
    margin-right: 5px;
  }
  &__search {
    position: relative;
    width: 100%;
    max-width: 470px;
    min-height: 40px;
    &::after {
      position: absolute;
      top: 8px;
      right: 16px;
      width: 24px;
      height: 24px;
      background: url("../img/icons/search.svg") no-repeat;
      content: "";
    }
    input {
      width: inherit;
      min-height: inherit;
      padding: 11px 16px;
      border: 1px solid #e0e0e0;
      outline: none;
      &:focus {
        border: 1px solid #e0e0e0;
      }
      &::placeholder {
        color: #9fa19f;
      }
    }
  }
  &__login {
    display: flex;
    align-items: center;
  }
  &__login-profile {
    margin-right: 40px;
  }
  &__login-oms {
    display: flex;
    align-items: flex-end;
    div {
      margin-left: 10px;
      color: var(--primary-color);
      font-weight: var(--font-medium);
    }
  }
  &__phone {
    color: var(--secondary-color);
    font-weight: var(--font-medium);
    text-align: center;
    div {
      margin-top: 5px;
      color: #9fa19f;
    }
  }
}

