.industrial-medicine {
  padding-top: 70px;
  &__top-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  &__content {
    max-width: 896px;
  }
  &__title {
  }
  &__subtitle {
    margin-bottom: 20px;
  }
  &__description {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__block {
    padding: 60px;
    border: 1px solid #e0e0e0;
    max-width: 744px;
    min-height: 399px;
    height: 100%;
  }
  &__block-title {
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: #555555;
    margin-bottom: 16px;
  }
  &__block-subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #555555;
    margin-bottom: 12px;
  }
  &__block-description {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__middle-wrapper {
    max-width: 1656px;
    &:nth-child(1) {
      .industrial-medicine__middle-content {
        max-width: 837px;
      }
      .industrial-medicine__middle-block {
        padding: 70px 108px 70px 244px;
        margin-left: auto;
        margin-bottom: 170px;
        .industrial-medicine__middle-img {
          top: -100px;
          left: -456px;
        }
      }
    }
    &:nth-child(2) {
      .industrial-medicine__middle-content {
        max-width: 859px;
      }
      .industrial-medicine__middle-block {
        padding: 70px 228px 70px 108px;
        .industrial-medicine__middle-img {
          bottom: 131px;
          right: -525px;
        }
        .industrial-medicine__middle-more {
          max-width: 578px;
        }
      }
    }
  }
  &__middle-block {
    max-width: 1200px;
    min-height: 455px;
    height: 100%;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    display: flex;
    position: relative;
  }
  &__middle {
    padding: 200px 0px 100px 0px;
    background-color: #f0f0f0;
  }
  &__middle-img {
    position: absolute;
  }
  &__middle-content {
  }
  &__middle-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: #555555;
    margin-bottom: 16px;
  }
  &__middle-description {
    font-size: 20px;
    line-height: 150%;
    color: #555555;
    margin-bottom: 24px;
  }
  &__middle-more {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #555555;
    a {
      margin-top: 4px;
      color: #e53429;
    }
  }
  &__stock {
    padding: 100px 0px 182px 0px;
  }
  &__stock-header {
  }
  &__stock-title {
  }
  &__stock-more {
  }
  &__slider {
  }
}

