.intro {
  padding: 100px 0;
  background: #f0f0f0;
  &__content {
    max-width: 658px;
    margin-right: 395px;
  }
  &__title {
    margin-bottom: 60px;
    font-weight: var(--font-bold);
    font-size: 56px;
    line-height: 130%;
    color: var(--primary-color);
    span {
      color: var(--secondary-color);
    }
  }
  &__img {
  }
  &__btn {
    margin-bottom: 43px;
  }
  &__social {
    display: flex;
    align-items: center;
  }
  &__social-link {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }
}

.glide {
  overflow: hidden;
  &__track {
  }
  &__slides {
    display: flex;
  }
  &__slide-inner {
    display: flex;
    align-items: center;
  }
  &__slide {
  }
}
