.intro {
  position: relative;
  padding: 100px 0;
  background: #f0f0f0;
  &__content {
    max-width: 658px;
  }
  &__title {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    color: #555555;
    span {
      color: #e53429;
    }
  }
  &__img {
    position: absolute;
    top: -107px;
    right: 275px;
  }
  &__btn {
    margin-bottom: 43px;
  }
  &__social {
    display: flex;
    align-items: center;
  }
  &__social-link {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }
}

