.medical-examinations {
  padding: 70px 0 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
  }
  &__content {
    max-width: 593px;
  }
  &__title {
  }
  &__advantage {
  }
  &__advantage-title {
  }
  &__advantage-block {
  }
  &__advantage-block-num {
  }
  &__advantage-block-descr {
  }
}

