.menu {
  position: relative;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list-item {
    position: relative;
    &:nth-child(1) {
      &:hover {
        .submenu {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4) {
      &::before {
        position: absolute;
        top: 98%;
        left: 0;
        z-index: 20;
        width: 100%;
        height: 3px;
        background: var(--secondary-color);
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease-out;
        content: "";
      }
      &::after {
        position: absolute;
        top: 25px;
        right: -20px;
        width: 16px;
        height: 16px;
        background: url("../img/icons/arrow-down.svg") no-repeat;
        transition: all 0.2s ease-out;
        content: "";
      }
      &:hover {
        &::before {
          visibility: visible;
          opacity: 1;
        }
        &::after {
          transform: rotate(-180deg);
        }
      }
    }
  }
  &__list-link {
    display: block;
    padding: 25px 0;
    color: var(--primary-color);
    font-weight: var(--font-medium);
    transition: color 0.2s ease-out;
    &:hover {
      color: var(--secondary-color);
    }
  }
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 15;
  margin: 0 -1000em;
  padding: 30px 1000em;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-out;
  &__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px 95px;
  }
  &__list {
    &:hover {
      .menu__list-link {
        display: none;
      }
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  &__link {
    color: var(--primary-color);
    font-weight: var(--font-medium);
    transition: color 0.2s ease-out;
    &:hover {
      color: var(--secondary-color);
    }
  }
}

