.review {
  padding: 70px 0px 248px 0px;
  background-color: #f0f0f0;
  &__block {
    text-align: center;
    padding: 70px 0;
    background: #ffffff;
    max-width: 1300px;
    margin: 0px auto;
    display: none;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__description {
    max-width: 919px;
    margin: 0px auto 70px auto;
  }
  &__btn {
  }
  &__form {
    background-color: #fff;
    max-width: 1300px;
    padding: 80px 50px 70px 50px;
    margin: 0px auto;
  }
  &__form-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    margin-bottom: 40px;
    color: #555555;
  }
  &__btn {
  }
}

.form {
  &__block {
    &:nth-child(2) {
      .form__input {
        max-width: 100%;
      }
    }
    &:nth-child(3) {
      .form__input {
        max-width: 100%;
        height: 170px;
      }
    }
    &:nth-child(5) {
      .form__input {
        margin-bottom: 15px;
      }
      .form__input + p {
        font-size: 16px;
        line-height: 150%;
        color: #9fa19f;
      }
    }
    &:nth-child(6) {
      .form__group {
        display: flex;
        align-items: center;
      }
      .form__input {
        display: flex;
        align-items: center;
        width: unset;
        &:not(:last-child) {
          margin-right: 70px;
        }
      }
    }
    &:nth-child(7) {
      display: flex;
      align-items: center;
    }
    &:nth-child(8) {
      display: flex;
      align-items: center;
      .form__input {
        max-width: 585px;
      }
    }
    &:nth-child(9) {
      label[for="consideration"],
      label[for="processing"] {
      }
      .form__group {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
    }
    &:nth-child(10) {
      .form__input {
        max-width: 100%;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__block-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;
    color: #555555;
  }
  &__input-wrapper {
    display: flex;
    align-items: center;
  }
  &__input {
    max-width: 380px;
    width: 100%;
    &:not(:last-child) {
      margin-right: 30px;
    }
    select {
      max-width: 380px;
      min-height: 48px;
    }
    textarea {
      resize: none;
      height: 100%;
    }
    input[type="radio"],
    input[type="checkbox"] {
      display: none;
    }
    input[type="radio"] + label {
      font-size: 18px;
      line-height: 100%;
      position: relative;
      color: #555555;
      padding-left: 35px;
      &::before {
        content: "";
        width: 18px;
        height: 18px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 1px;
        border: 1px solid #9fa19f;
        border-radius: 50%;
        cursor: pointer;
      }
      &::after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #e53429;
        display: none;
      }
    }
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      &::after {
        display: block;
      }
    }
    label[for="consideration"],
    label[for="processing"] {
      font-size: 18px;
      line-height: 100%;
      color: #555555;
      position: relative;
      padding-left: 35px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #e0e0e0;
      }
      &::after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 14px;
        height: 14px;
        background: red;
        display: none;
      }
    }

    input[type="file"] {
      width: 20px;
      height: 20px;
      display: none;
    }
    input[type="file"] + label {
      display: none;
    }
    input[type="text"],
    textarea,
    select {
      width: 100%;
      padding: 15px 20px;
      border: 1px solid #e0e0e0;
      outline: #e0e0e0;
      &::placeholder {
        font-size: 18px;
        line-height: 100%;
        color: #9fa19f;
      }
    }
  }
  &__input-upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 12px 15px;
    cursor: pointer;
    div {
      font-size: 18px;
      line-height: 100%;
      color: #9fa19f;
    }
  }
  &__notice {
    font-size: 16px;
    line-height: 150%;
    color: #9fa19f;
    margin-bottom: 21px;
  }
}

