.review {
  padding: 70px 0 248px;
  background-color: #f0f0f0;
  &__block {
    display: none;
    max-width: 1300px;
    margin: 0 auto;
    padding: 70px 0;
    text-align: center;
    background: #ffffff;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__description {
    max-width: 919px;
    margin: 0 auto 70px;
  }
  &__btn {
  }
  &__form {
    max-width: 1300px;
    margin: 0 auto;
    padding: 80px 50px 70px;
    background-color: #ffffff;
  }
  &__form-title {
    margin-bottom: 40px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
  }
}
.form {
  &__block {
    &:nth-child(2) {
      .form__input {
        max-width: 100%;
      }
    }
    &:nth-child(3) {
      .form__input {
        max-width: 100%;
        height: 170px;
      }
    }
    &:nth-child(5) {
      .form__input {
        margin-bottom: 15px;
      }
      .form__input + p {
        color: #9fa19f;
        font-size: 16px;
        line-height: 150%;
      }
    }
    &:nth-child(6) {
      .form__group {
        display: flex;
        align-items: center;
      }
      .form__input {
        display: flex;
        align-items: center;
        width: unset;
        &:not(:last-child) {
          margin-right: 70px;
        }
      }
    }
    &:nth-child(7) {
      display: flex;
      align-items: center;
    }
    &:nth-child(8) {
      display: flex;
      align-items: center;
      .form__input {
        max-width: 585px;
      }
    }
    &:nth-child(9) {
      label[for="consideration"],
      label[for="processing"] {
      }
      .form__group {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
    }
    &:nth-child(10) {
      .form__input {
        max-width: 100%;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__block-title {
    margin-bottom: 20px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
  }
  &__input-wrapper {
    display: flex;
    align-items: center;
  }
  &__input {
    width: 100%;
    max-width: 380px;
    &:not(:last-child) {
      margin-right: 30px;
    }
    select {
      max-width: 380px;
      min-height: 48px;
    }
    textarea {
      height: 100%;
      resize: none;
    }
    input[type="radio"],
    input[type="checkbox"] {
      display: none;
    }
    input[type="radio"] + label {
      position: relative;
      padding-left: 35px;
      color: var(--primary-color);
      font-size: 18px;
      line-height: 100%;
      &::before {
        position: absolute;
        top: 0;
        bottom: 1px;
        left: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #9fa19f;
        border-radius: 50%;
        cursor: pointer;
        content: "";
      }
      &::after {
        position: absolute;
        top: 3px;
        left: 3px;
        display: none;
        width: 12px;
        height: 12px;
        background-color: #e53429;
        border-radius: 50%;
        content: "";
      }
    }
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      &::after {
        display: block;
      }
    }
    label[for="consideration"],
    label[for="processing"] {
      position: relative;
      padding-left: 35px;
      color: var(--primary-color);
      font-size: 18px;
      line-height: 100%;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #e0e0e0;
        content: "";
      }
      &::after {
        position: absolute;
        top: 3px;
        left: 3px;
        display: none;
        width: 14px;
        height: 14px;
        background: var(--secondary-color);
        content: "";
      }
    }
    input[type="file"] {
      display: none;
      width: 20px;
      height: 20px;
    }
    input[type="file"] + label {
      display: none;
    }
    input[type="text"],
    textarea,
    select {
      width: 100%;
      padding: 15px 20px;
      border: 1px solid #e0e0e0;
      outline: #e0e0e0;
      &::placeholder {
        color: #9fa19f;
        font-size: 18px;
        line-height: 100%;
      }
    }
  }
  &__input-upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
    border: 1px solid #cccccc;
    cursor: pointer;
    div {
      color: #9fa19f;
      font-size: 18px;
      line-height: 100%;
    }
  }
  &__notice {
    margin-bottom: 21px;
    color: #9fa19f;
    font-size: 16px;
    line-height: 150%;
  }
}

