.vaccination {
  padding: 70px 0px 227px 0px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 1047px;
  }
  &__title {
  }
  &__description {
    margin-bottom: 56px;
  }
  &__buttons {
    display: flex;
    align-items: center;
  }
  &__btn {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__banner {
    max-width: 440px;
    min-height: 392px;
    height: 100%;
    text-align: center;
    padding: 40px;
    border: 1px solid #e0e0e0;
  }
  &__banner-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: #555555;
    margin-bottom: 20px;
  }
  &__banner-description {
    font-size: 20px;
    line-height: 150%;
    color: #555555;
    margin-bottom: 60px;
  }
}

